<%- include("../partials/header.ejs", {title: title}); %>
<div class="bg"></div>
<div class="bg bg2"></div>
<div class="bg bg3"></div>
<div class="content">
    <h1>Customer</h1>
    <form class="label-left" method="post" action="/crm/update">
        <fieldset>
            <legend>Update customer</legend>

            <input id="id" type="text" name="id" value="<%= json.id %>" hidden/>

            <label for="name">name</label>
            <input id="name" type="text" name="name" value="<%= json.name %>" required/>

            <label for="surname">surname</label>
            <input id="surname" type="text" name="surname" value="<%= json.surname %>" required/>

            <label for="email">email</label>
            <input id="email" type="text" name="email" value="<%= json.email %>" required/>

            <label for="birthdate">birthdate</label>
            <input id="birthdate" type="text" name="birthdate" value="<%= json.birthdate %>" required/>

            <input
                class="link"
                type="submit"
                name="updateCustomer"
                value="Update customer"
            />
        </fieldset>
    </form>
    <a href="/crm/customers" class="link">Go back</a>
</div>

<%- include("../partials/footer.ejs"); %>
