<%- include("../partials/header.ejs", {title: title}); %>
<div class="bg"></div>
<div class="bg bg2"></div>
<div class="bg bg3"></div>
<div class="content">
    <h1>Customers</h1>
    <a href="/crm/create">
        <button>Create Customer</button>
    </a>
    <% if(Object.keys(json).length <= 0) {%>
        <p>Currently no customers in database</p>
        <% } else{ %>
    <table>
        <tr>
            <th>Name</th>
            <th>Surname</th>
            <th>Email</th>
            <th>Birthdate</th>
        </tr>
        <% for (const row of json) { %>
        <tr>
            <td><%= row.name %></td>
            <td><%= row.surname %></td>
            <td><%= row.email %></td>
            <td><%= row.birthdate %></td>
            <td>
                <a href="/crm/customers/show/<%= row.id  %> " class="link">
                    Show
                </a>
            </td>
            <td>
                <a href="/crm/customers/show/<%= row.id  %> " class="link">
                    Update
                </a>
            </td>
            <td>
                <a href="/crm/customers/show/<%= row.id  %> " class="link">
                    Delete
                </a>
            </td>
        </tr>
        <% }; %>
    </table>
    <% } %>
    <br />
</div>

<%- include("../partials/footer.ejs"); %>
